<%= form_for(Director.new, as: "director", url: director_sign_in_path(), :html => {class: "modal-content animate"}) do |f| %>
  <div class="imgcontainer">
    <%= image_tag 'avtar.png', class: 'avatar', id: 'avatar_image', style: 'width: 240px; height: 200px'%>
  </div>

  <div class="container">
    <label><b>Email</b></label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter Email" %>

    <label><b>Password</b></label>
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Enter Password" %>
      
    <%= f.submit "Login" %>
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <span class="psw">
      <%#= render "devise/shared/links" %>
    </span>
  </div>
<% end %>