<%= form_for @object, url: @url, method: @method, html: { class: "", id: "course_form" } do |f| %>
  <% if params[:controller] == "admin/course_units" %>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="">Course</label>
          <%= f.select :course_id, Course.all.map{|obj| [obj.title, obj.id]}, {selected: f.object.course_id, :include_blank => "Select"}, { :class=> "form-control contole-margin"} %>
        </div>
      </div>
    </div>
  <% end %>

  <% if (params[:controller] == "admin/course_sub_units") %>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="">Course</label>
          <select class="form-control contole-margin" name="course_unit[course_id]" id="course_unit_course_id">
            <option value="">Select</option>
            <% Course.all.each do |course_obj| %>
              <% if course_obj.id == @object&.course_unit&.course_id %>
                <option value="<%= course_obj.id %>" selected><%= course_obj.title %></option>
              <% else %>
                <option value="<%= course_obj.id %>"><%= course_obj.title %></option>
              <% end %>
            <% end %>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="">Course Unit</label>
          <%= f.select :course_unit_id, @course_units.map{|obj| [obj.title, obj.id]}, {selected: f.object.course_unit_id, :include_blank => "Select"}, { :class=> "form-control contole-margin"} %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="">Title</label>
        <%= f.text_field :title, placeholder: "Enter Title", class: "form-control contole-margin", required: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="">Description</label>
        <%= f.text_area :description, placeholder: "Enter Description", class: "form-control contole-margin", required: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label>Active </label>
        <%= f.check_box :is_active, class: "contole-margin"%>
      </div>
    </div>
    <div class="col-md-9">
      <div class="form-group" style="text-align: right;">
        <%= f.submit "Save", class:"btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    $("#course_unit_course_id").on('change', function(){
      $.ajax({
        url: "/admin/course_units_by_course?course_id="+$(this).val(),
        type: "GET",
        success: function(data) {
          $("#course_sub_unit_course_unit_id").children().remove();
          var listitems = []; 
          $("#course_sub_unit_course_unit_id").append('<option value="">Select</option>');        
          $.each(data,function(key, value) { 
            listitems += '<option value="' + value["id"] + '">' + value["title"] + '</option>';
          });
          $("#course_sub_unit_course_unit_id").append(listitems);
        }
      })
    });
  });
</script>