<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <% if (params[:controller] == "admin/course_units") || (params[:controller] == "admin/course_sub_units") %>
          <th scope="col">Course</th>
          <% if (params[:controller] == "admin/course_sub_units") %>
            <th scope="col">Course Unit</th>
          <% end %>
        <% end %>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <% if (params[:controller] == "admin/courses") %>
          <th scope="col">Course Unit</th>
          <th scope="col">Course Sub Unit</th>
        <% end %>
        <% if (params[:controller] == "admin/course_units") %>
          <th scope="col">Course Sub Unit</th>
        <% end %>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% if @object.present?%>
        <% @object.each_with_index do |object, index|%>
          <tr>
            <td><%= index + 1 %></td>
            <% if (params[:controller] == "admin/course_units") || (params[:controller] == "admin/course_sub_units") %>
              <% if (params[:controller] == "admin/course_sub_units") %>
                <td><%= object.course_unit.course.title %></td>
                <td><%= object.course_unit.title %></td>
              <% else %>
                <td><%= object.course.title %></td>
              <% end %>
            <% end %>
            <td><%= object.title %></td>
            <td><%= object.description %></td>
            <td><%= object.is_active %></td>
            
            <% controller_first = params[:controller].split("/")[0]%>
            <% controller_second = params[:controller].split("/")[1]%>
            <% if (params[:controller] == "admin/courses") %>
              <td>
                <%= link_to ("<span data-feather='book'></span>").html_safe, "/admin/course_units?id=#{object.id}" %> 
              </td>
              <td>
                <%= link_to ("<span data-feather='book-open'></span>").html_safe, "/admin/course_sub_units?id=#{object.id}" %> 
              </td>
            <% end %>
            <% if (params[:controller] == "admin/course_units") %>
              <td>
                <%= link_to ("<span data-feather='book-open'></span>").html_safe, "/admin/course_sub_units?id=#{object.id}" %> 
              </td>
            <% end %>
            <td>
              <%= link_to ("<span data-feather='edit'></span>").html_safe, "/#{controller_first}/#{controller_second}/#{object.id}/edit" %> 
              <% if current_user.admin?%>
                | <%= link_to ("<span data-feather='trash-2'></span>").html_safe, "/#{controller_first}/#{controller_second}/#{object.id}" , data: { confirm: 'Are You sure want to delete it ?' } %>
              <% end%>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="12" style="text-align: center;"> No Data Found.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>