<%# <div id="id01" class="modal"> %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class: "modal-content animate"}) do |f| %>
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <%= image_tag 'avtar.png', class: 'avatar', id: 'avatar_image', style: 'width: 240px; height: 200px'%>
    </div>

    <div class="container">
      <label><b>Email</b></label>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter Email" %>

      <label><b>Password</b></label>
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Enter Password" %>
        
      <%= f.submit "Login" %>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <%# <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button> %>
      <span class="psw">
        <%#= render "devise/shared/links" %>
      </span>
    </div>
  <% end %>
<%# </div> %>

<script>
  // Get the modal
  var modal = document.getElementById('id01');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
</script>