<% @title="Login" %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class: "modal-content animate"}) do |f| %>
  <div class="imgcontainer">
    <%= image_tag 'avtar.png', class: 'avatar', id: 'avatar_image', style: 'width: 240px; height: 200px'%>
  </div>

  <div class="container">
    <label for="uname"><b>Email</b></label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter Email" %>

    <label for="psw"><b>Password</b></label>
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Enter Password" %>
      
    <%= f.submit "Login" %>
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <span class="psw">
      <%= render "devise/shared/links" %>
    </span>
  </div>
<% end %>

<%# <script>
  // Get the modal
  var modal = document.getElementById('id01');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
</script> %>
