<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Contact Number</th>
        <th scope="col">Father Name</th>
        <th scope="col">Mother Name</th>
        <th scope="col">DOB</th>
        <th scope="col">Gender</th>
        <th scope="col">Role</th>
        <th scope="col">Status</th>
        <th scope="col">Address</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% if @user.present?%>
        <% @user.each_with_index do |object, index|%>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= "#{object.first_name} #{object.last_name}"%></td>
            <td><%= object.email %></td>
            <td><%= object.contact_number %></td>
            <td><%= object.father_name %></td>
            <td><%= object.mother_name %></td>
            <td><%= object.dob&.strftime("%d-%^b-%Y") %></td>
            <td><%= object.gender %></td>
            <td><%= object.user_type %></td>
            <td><%= object.status %></td>
            <td><%= object.address %></td>
            <td>
              <% controller_first = params[:controller].split("/")[0]%>
              <% controller_second = params[:controller].split("/")[1]%>
              <% if controller_second == "homes" %>
                <% url_name = "homes" %>
              <% elsif controller_second == "faculties" %>
                <% url_name = "faculties" %>
              <% else %>
                <% url_name = "#{object.user_type}s" %>
              <% end %>

              <%= link_to ("<span data-feather='edit'></span>").html_safe, "/#{controller_first}/#{url_name}/#{object.id}/edit" %> 
              <% if current_user.admin?%>
                | <%= link_to ("<span data-feather='trash-2'></span>").html_safe, "/#{controller_first}/#{url_name}/#{object.id}" , data: { confirm: 'Are You sure want to delete it ?' } %>
              <% end%>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="12" style="text-align: center;"> No Data Found.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>