<%= form_for @user, url: @url, method: @method, html: { class: "", id: "user_form" } do |f| %>
  <div class="row">
    <!--<div class="col-md-3">
      <div class="form-group">
        <label>Director</label>
        <select name="director_id" id="director_id" class="form-control contole-margin">
        <% User.where(user_type: ["admin", "director"]).order("user_type").each do |usr|%>
          <option value="<%= usr.id %>"><%= "#{usr.first_name} #{usr.last_name} - #{usr.user_type}"%></option>
        <% end %>
      </select>
      </div>
    </div>-->
    <div class="col-md-4">
      <div class="form-group">
        <label for="">Email</label>
        <%= f.email_field :email, autocomplete: "email", placeholder: "Enter Email", class: "form-control contole-margin", required: true %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="">Aaadhaar Number</label>
        <%= f.number_field :identity_number, placeholder: "Enter Aadhaar Number", class: "form-control contole-margin", required: true %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <% if params[:action] == "new"%>
          <label for="">Password</label>
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "Enter Password", class: "form-control contole-margin", required: true %>
          <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="">First Name</label>
        <%= f.text_field :first_name, placeholder: "Enter First Name", class: "form-control contole-margin", required: true %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Last Name</label>
        <%= f.text_field :last_name, placeholder: "Enter First Name", class: "form-control contole-margin", required: true %>
      </div>
    </div>
        <div class="col-md-3">
      <div class="form-group">
        <label for="">Father Name</label>
        <%= f.text_field :father_name, placeholder: "Enter Father Name", class: "form-control contole-margin", required: true %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Mother Name</label>
        <%= f.text_field :mother_name, placeholder: "Enter Mother Name", class: "form-control contole-margin", required: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Contact Number</label>
        <%= f.number_field :contact_number, min: 0, max: 9999999999, placeholder: "Enter Contact Number", class: "form-control contole-margin", required: true %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Birthdate</label>
        <%= f.date_field :dob, value: (f.object.dob || (Date.current - 18.year).strftime('%Y-%m-%d')), max: Date.current, class: "form-control contole-margin", required: true %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Gender</label>
        <%= f.select :gender, User.genders.keys, {selected: f.object.gender}, { :class=> "form-control contole-margin"} %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <% if current_user.admin? %>
          <label for="">User Role</label>
          <%= f.select :user_type, User.user_types.keys, {selected: f.object.user_type}, {:class=> "form-control contole-margin"} %>
        <% else %>
          <label for="">User Role</label>
          <%= f.text_field :user_type, {class: "form-control contole-margin", readonly: true} %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Street Address</label>
        <%= f.text_field :street_address, placeholder: "Enter Street Address", class: "form-control contole-margin", required: true %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="">City</label>
            <%= f.text_field :city, placeholder: "Enter City", class: "form-control contole-margin", required: true %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="">State</label>
        <%= f.text_field :state, placeholder: "Enter State", class: "form-control contole-margin", required: true %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Postal Code</label>
        <%= f.number_field :zip, min: 0, max: 999999, placeholder: "Enter Postal Code", class: "form-control contole-margin", required: true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label>Active </label>
        <%= f.check_box :is_active, class: "contole-margin"%>
      </div>
    </div>
    <div class="col-md-9">
      <div class="form-group" style="text-align: right;">
        <%= f.submit "Save", class:"btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>