<!DOCTYPE html>
<html>
  <head>
    <title>MedicalTutor -<%= @title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="<%= admin_homes_path %>">Medical Tutor</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <div class="navbar-nav">
        <div class="nav-item text-nowrap">
          <a class="nav-link px-3" href="<%= destroy_user_session_path %>"><span data-feather="log-out"></span> Sign out</a>
        </div>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link <%= params[:controller] == "admin/homes" ? "active" : '' %>" aria-current="page" href="<%= admin_homes_path %>">
                  <span data-feather="home"></span>
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= params[:controller] == "admin/directors" ? "active" : '' %>" href="<%= admin_directors_path %>">
                  <span data-feather="users"></span>
                  Directors
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= params[:controller] == "admin/counsellors" ? "active" : '' %>" href="<%= admin_counsellors_path %>">
                  <span data-feather="users"></span>
                  Counsellors
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= params[:controller] == "admin/faculties" ? "active" : '' %>" href="<%= admin_faculties_path %>">
                  <span data-feather="users"></span>
                  Faculties
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= params[:controller] == "admin/students" ? "active" : '' %>" href="<%= admin_students_path %>">
                  <span data-feather="users"></span>
                  Students
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= params[:controller] == "admin/courses" ? "active" : '' %>" href="<%= admin_courses_path %>">
                  <span data-feather="book"></span>
                  Courses
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= params[:controller] == "admin/course_units" ? "active" : '' %>" href="<%= admin_course_units_path %>">
                  <span data-feather="book-open"></span>
                  Course Units
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= params[:controller] == "admin/course_sub_units" ? "active" : '' %>" href="<%= admin_course_sub_units_path %>">
                  <span data-feather="book-open"></span>
                  Course Sub Units
                </a>
              </li>
            </ul>

            <!--<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved reports</span>
              <a class="link-secondary" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Current month
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Last quarter
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Social engagement
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Year-end sale
                </a>
              </li>
            </ul> -->
          </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <% flash.each do |name, msg| %>
            <% name = 'success' if (name == 'notice') %>
            <div class="myAlert-bottom alert alert-<%= name %>">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <%= msg%>
            </div>
          <% end %>

          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2"><%= @title %></h1>

            <% if params[:action] == "index" %>
              <%= link_to ("<span data-feather='file-plus'></span>").html_safe, @url %>
            <% end %>
          </div>
          <%= yield %>
        </main>
      </div>
    </div>
    <script>
      window.setTimeout(function() {
        $(".alert").fadeTo(5000, 0).slideUp(200, function(){
            $(this).remove();
        });
      }, 5000);
    </script>
  </body>
</html>
