<!DOCTYPE html>
<html>
  <head>
    <title>MedicalTutor -<%= @title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Medical Tutor</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="<%= root_path %>">Home</a>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href="<%= destroy_user_session_path %>">Sign Out</a>
            </li>
          <% else %>

            <li class="nav-item">
              <a class="nav-link" href="<%= new_user_session_path %>">Admin Login</a>
              <!--<a class="nav-link" onclick="document.getElementById('id01').style.display='block'" style="cursor: pointer;">Login</a> -->
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= director_sign_in_path %>">Director Login</a>
            </li>
          <% end %>
          
        </ul>
      </div>
    </nav>
    <!-- Navbar -->
    <% flash.each do |name, msg| %>
      <div class="myAlert-bottom alert alert-<%= name %>">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%= msg%>
      </div>
    <% end %>
    <%= yield %>
  </body>
  
  <script>
    window.setTimeout(function() {
      $(".alert").fadeTo(5000, 0).slideUp(200, function(){
          $(this).remove();
      });
    }, 5000);
  </script>
</html>
